@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-teal);
$app-accent: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme);

@import "./app/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clip-text-video {
  position: relative;
}

video {
  position: absolute;
  object-fit: cover;
  overflow: hidden;
  @include start;
  @include transition;
}

.clip-text-video__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  background: #000;
  mix-blend-mode: multiply;
  opacity: .9;
  @include start;
  @include transition;

  a{
    font-size: 2vw;
    text-decoration: none;
  }
}

.clip-text-video__text p {
  font-size: 9vw;
  line-height: 1;
  font-weight: 900;
  font-family: helvetica;
}

.animate-video{
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
}

.animate{
  top: 5vh;
  left: 0;
  width: 100%;
  height: 90vh;
  padding: 0 5px;
}

.mat-select-arrow-wrapper .mat-select-arrow, .mat-select-value, mat-label, mat-select{
  color: #009688;
  font-size: 4vw;
}

.mat-form-field {
  width: 30%;
}

div .mat-select-panel .mat-optgroup-label, .mat-select-panel mat-option.mat-option{
  height: 35px;
  line-height: 35px
}

.cdk-overlay-pane .mat-select-panel{
  max-height: 500px;
}

.mat-select-panel-wrap{
  a{
    text-decoration: none;
    .mat-option-text{
      font-size: 20px;
      color: #009688;
    }
  }
}

img{
  position: absolute;
  top:10px;
  right: 10px;
  width:100px;
  border-radius: 50%;
}