@mixin start() {
  width: 0;
  height: 0;
  left: 50%;
  top: 50vh;
}

@mixin transition() {
  -webkit-transition: width 3s ease-in-out, height 3s ease-in-out, left 3s ease-in-out, top 3s ease-in-out;
  -moz-transition: width 3s ease-in-out, height 3s ease-in-out, left 3s ease-in-out, top 3s ease-in-out;
  -o-transition: width 3s ease-in-out, height 3s ease-in-out, left 3s ease-in-out, top 3s ease-in-out;
  -ms-transition: width 3s ease-in-out, height 3s ease-in-out, left 3s ease-in-out, top 3s ease-in-out;
  transition: width 3s ease-in-out, height 3s ease-in-out, left 3s ease-in-out, top 3s ease-in-out;
}